.dashboard {
    display: flex;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
  }
  .section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  button {
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #a50000;
  }
  

  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .content {
      margin-left: 0;
      padding: 10px;
    }
    .section {
      flex-direction: column;
    }
  }
  